@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.sectionContainer {
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 1920px) {
  .landing-page-wapper {
    background-image: url("https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/674584097f8482257f855b1c_BG-2025.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .sectionContainer {
    max-width: 1320px;
  }
}

@media screen and (min-width: 1440px) {
  .landing-page-wapper {
    background-image: url("hhttps://cdn.prod.website-files.com/6257adef93867e50d84d30e2/674584097f8482257f855b1c_BG-2025.png");
  }
}

.landing-page-wapper {
  background-image: url("https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/673df7fbe95a8e90a7571751_D-bg.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
